@import "~react-image-gallery/styles/css/image-gallery.css";




.gallery { 
    
     /* align-items: center; */
     margin-top: 10px; 
    
     z-index: -99;

}

@media screen and (max-width: 768px) {
   
     .gallery {
        margin-top: 50%;
     }
  }